.container{
  margin-top: 1vh;
}

.container .hero {
  display: flex;
  flex-direction: column;
  height: 50vh;
}
.container .hero .copy {
  align-content: center;
  text-align: center;
  padding: 2rem 0;
  font-size: calc(6vmin + 0.390625vw);
}
.container .hero .copy blockquote {
  font-size: calc(6vmin + 0.390625vw);
  font-weight: 300;
}
.container .hero .copy blockquote span {
  font-style: italic;
  font-weight: 400;
}
.container .hero .copy blockquote cite {
  font-weight: 300;
  font-style: italic;
  font-size: 4.5vmin;
  display: block;
  padding: 8px 0;
}
.container .hero .image-wrapper {
  width: auto;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .hero .image-wrapper img {
  height: 100%;
  width: auto;
  border-radius: 70px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
}
.container .section-0 {
  margin-top: 20vh;
  text-align: center;
}
.container .section-0 p {
  font-size: 5vw;
}
.container .section-0 cite {
  font-size: 3vw;
}
.container .section-1 {
  height: 100vh;
  display: grid;
  place-content: center;
  padding: 0 1rem;
}
.container .section-1 .image-mask {
  width: 80vw;
  height: 80vh;
  background-color: white; 
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 90%;
  background-size: 100%;
}
.container .section-1 .image-mask img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container .section-1 blockquote {
  font-size: 9vmin;
  font-weight: 300;
}
.container .section-1 blockquote span {
  font-style: italic;
  font-weight: 400;
}
.container .section-1 blockquote cite {
  font-weight: 300;
  font-style: italic;
  font-size: 7.5vmin;
  display: block;
  padding: 8px 0;
}
.container .section-2 {
  height: calc(300vh + 32px + 16px);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: 40% 60%;
}
.container .section-2 blockquote {
  font-size: 5vmin;
  padding: 16px 16px 0 16px;
}
.container .section-2 blockquote cite {
  display: block;
}
.container .section-2 .images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 8px;
  gap: 8px;
  margin-top: 16px;
}
.container .section-2 .images-container img {
  width: 100%;
  max-height: 75vh;
  height: 100%;
  align-self: stretch;
  object-fit: cover;
}
.container .section-3 {
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
  position: relative;
}
.container .section-3 .image-wrapper {
  height: 100%;
  width: 100%;
}
.container .section-3 .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container .section-3 .copy {
  font-size: 8vmin;
  height: 100vh;
  width: 100%;
  display: grid;
  align-content: center;
}
.container .section-3 .copy blockquote {
  margin: 0 32px;
}
.container .section-3 .copyright {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 4vmin !important;
}

.hidden{
 opacity: 0;
}

.shown-5s{
opacity: 1;
transition: opacity 3s;
}

.shown-7s{
  opacity: 1;
  transition: opacity 3s;
  transition-delay: 1s;
  }
