@font-face {
  font-family: 'MyCustomFont';
  src: url('../../fonts/PPNeueMachina-PlainRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

a[href] {
  text-decoration: none;
  color: inherit;
  display: block;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'MyCustomFont', sans-serif;
}

body{
  background-image: url('../../images/bg_normal.jpg');
  background-size: cover;
  background-position: center;
}

.wrapper-mid{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.wrapper-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 20%;
}

.wrapper-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 20%;
}

.main-area{
  width: 60%;
  height: 80vh;
}

.main-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.side-area-1{
  width: 20%;
}

.header {
  font-weight: 400;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 1000;
  color: #222;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
  width: 70%;
  height: 8vh;
  background-image: url('../../images/herringbone.webp');
}

ul {
  list-style: none;
}

.navigation{
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


button {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.597);
  margin-right: calc(3vmin + 0.390625vw);
  margin-left: calc(3vmin + 0.390625vw);
  padding: .7rem 0.5rem;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 20px;
  font-size: calc(1.2vmin + 0.390625vw);
  width: 20%;
  height: auto;
}

button:hover {
  background-color: #59595948;
  color: #000000ef;
  transform: scale(0.95);
  cursor: default;
}

.bottom
{
  font-weight: 400;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #222;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0 0;
  width: 50%;
  height: 8vh;
  background-image: url('../../images/herringbone.webp');
}



/* test area */


/* .scroll-content {
  position: relative;
  height: fit-content; 
  animation: scroll-animation 10s linear infinite; 
}

.scroll-text {
  writing-mode: vertical-rl; 
}

@keyframes scroll-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
} */
